.filter-text{
    color: white;
    letter-spacing: -0.1px;
}
@media(max-width:425px){
    .filter-text{
        line-height: 16px;
    }
}
.expense-item-nofound{
    color: var(--gray-white);
}
#years{
    background-color: var(--gray-600);
}